
html,body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', Sans-Serif;
    font-weight: 700;
    background-color : #70aace;

}

.figure-head {
    background-color: aquamarine;
}
h1,h2,h3,h4 {
    font-family: 'Open Sans', Sans-Serif;
}

p {
    max-width: 55rem;
}

header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: white;
}
/*
Hero Banner 


*/
.heroban {
background-image: url('http://drive.google.com/uc?export=view&id=1dJKRL1G1IXv3vBOmuPbpMtdCCAU7VdCC');
background-position: center;
border-radius: 3rem;
/*
https://drive.google.com/file/d/1dJKRL1G1IXv3vBOmuPbpMtdCCAU7VdCC/view?usp=sharing
https://drive.google.com/file/d/1dJKRL1G1IXv3vBOmuPbpMtdCCAU7VdCC/view?usp=sharing*/
background-size: cover; 
min-height: 20rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}



/*
Navigation Bar

*/

nav { 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    padding: 1rem
   
}
nav > a {
    text-decoration: none;

}
nav > a:hover {
    color: brown;
}

/*
Secionns

*/

section {
    padding: 1rem;
}



footer {
    padding: 1rem;
   
    
}

.projects {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

/*
Github Tab 
*/

.dormmates-banner {
background-image: url('http://drive.google.com/uc?export=view&id=1rV1P7mQ3FTo1eis3CQ5mLNrSVkqyaGbF');
background-position: center;
border-radius: 2rem;
background-size: cover; 
min-height: 6rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.network-banner {
background-image: url('http://drive.google.com/uc?export=view&id=11G4AYXvUPuQHuY1SwiXF64j70uLOO85M');
background-position: center;
border-radius: 2rem;
background-size: cover; 
min-height: 6rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.fflogs-banner {
background-image: url('http://drive.google.com/uc?export=view&id=1uF0Mqh4N77aVYhw093ghsZS-mormJjMk');
background-position: center;
border-radius: 2rem;
background-size: cover; 
min-height: 6rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}