
html,body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', Sans-Serif;

}

h1,h2,h3,h4 {
    font-family: 'Open Sans', Sans-Serif;
}

p {
    max-width: 55rem;
}

header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: white;
}
/*
Hero Banner 


*/
.heroban {
/*background-image: url('http://drive.google.com/uc?export=view&id=1h5isNt3z0Gsupn5lUN6zhq0K6wh8yUWX');*/
/* background-position: center;
background-size: cover; */
min-height: 20rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}



/*
Navigation Bar

*/

nav { 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    padding: 1rem
}
nav > a {
    text-decoration: none;

}
nav > a:hover {
    color: brown;
}

/*
Secionns

*/

section {
    padding: 1rem;
}



footer {
    padding: 1rem;
}

.projects {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
